.card_responsive {
  width: 23rem !important;
}
@media only screen and (max-width: 600px) {
  .card_responsive {
    width: 18rem !important;
  }
}
.btn_send_code {
  background-color: rgba(70, 87, 203, 1) !important;
  color: white;
}
.input-group-icon1 {
  color: rgba(150, 160, 227, 1) !important;
}
